body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

form button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#turnosAtendidos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content {
    font-size: 1em;
    margin-bottom: 8px;
}

.card-footer {
    font-size: 0.9em;
    color: #555;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    gap: 8px;
    padding: 5px;
}